# App
APP_DEFAULT_LOCALE=vi
APP_DEFAULT_TIMEZONE=UTC
 
# Server
SERVER_PORT=8090
SERVER_ADDRESS=0.0.0.0
SERVER_SERVLET_CONTEXT_PATH=/
 
# Spring Servlet Encoding
SPRING_SERVLET_ENCODING_ENABLED=true
SPRING_SERVLET_ENCODING_CHARSET=UTF-8
SPRING_SERVLET_ENCODING_FORCE=true
 
# Hibernate
DB_DDL_AUTO=none
HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
HIBERNATE_SHOW_SQL=true
HIBERNATE_FORMAT_SQL=true
HIBERNATE_JDBC_TIME_ZONE=UTC
 
# JPA
SPRING_JPA_OPEN_IN_VIEW=false
 
# Virtual Threads
SPRING_THREADS_VIRTUAL_ENABLED=true
 
# Flyway
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true
FLYWAY_LOCATIONS=classpath:db/migration
FLYWAY_VALIDATE_ON_MIGRATE=false
FLYWAY_SCHEMAS=public
FLYWAY_DEFAULT_SCHEMA=public
FLYWAY_CLEAN_DISABLED=false
FLYWAY_CLEAN_ON_VALIDATION_ERROR=true
 
# Logging
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_HIBERNATE=WARN
LOGGING_LEVEL_SPRING=WARN
LOGGING_LEVEL_HIBERNATE_SQL=OFF
LOGGING_LEVEL_APP=DEBUG
 
# Postgres
POSTGRES_CONTAINER_NAME=ojt-backend-postgres
POSTGRESQL_DB=ojt-postgres
POSTGRESQL_PASSWORD=password
POSTGRESQL_USER=postgres
POSTGRESQL_EXTERNAL_PORT=5434
POSTGRESQL_HOST=localhost
POSTGRESQL_SERVER_TIMEZONE=UTC
 
# Redis
REDIS_CONTAINER_NAME=ojt-backend-redis
REDIS_EXTERNAL_PORT=6380
REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_DATABASE=0
 
# OAuth 2.0
GOOGLE_CLIENT_ID=8170xxxxxx
 
# Email SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_mail@gmail.com
MAIL_PASSWORD="your_app_password"
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
OTP_EXPIRATION_MINUTES=5
 
# API Documentation
SPRINGDOC_API_DOCS_PATH=/v3/api-docs
SCALAR_PATH=/docs
SCALAR_URL=/v3/api-docs
SCALAR_ENABLED=true
SPRING_EXTERNAL_PORT=3001
JWT_PUBLIC_KEY="your_public_key_here"